version: "3.9"

services:
  backend:
    build: ./backend
    container_name: reservas-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    networks:
      - app-network

  frontend:
    build: ./frontend/reservas-frontend
    container_name: reservas-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
