<div class="dashboard">

  <h2>Sistema de Reservas</h2>

  <div class="cards">

    <div class="card blue">
      <h3>Total de reservas</h3>
      <p class="value">{{ totalReservations }}</p>
    </div>

    <div class="card green">
      <h3>Reservas de hoy</h3>
      <p class="value">{{ todayReservations }}</p>
    </div>

    <div class="card orange">
      <h3>Próximas reservas</h3>
      <p class="value">{{ upcomingReservations }}</p>
    </div>

  </div>

  <div class="chart-container">
    <h3>Reservas últimos 7 días</h3>

    <div class="chart">
      <div 
        class="bar" 
        *ngFor="let d of last7DaysStats" 
        [style.height]="(d * 20) + 'px'">
        {{ d }}
      </div>
    </div>
  </div>

</div>
